      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
	  button{
		height:20px; 
		width:100px; 
		margin: -20px -50px; 
		position:relative;
		top:50%; 
		left:50%;
	}
	
      #map {
          width: 100%; 
		  height: 400px; 
		  margin: 10px 20px 10px 0;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #000000;
      }

      #mode-selector {
        color: #fff;
        background-color: #ffffff;
        margin-left: 12px;
        padding: 5px 11px 0px 11px;
      }


	#examples a {
	  text-decoration: underline;
	}

	#geocomplete { width: 100%; text-align:center;}

	.map_canvas { 
	  width: 100%; 
	  height: 400px; 
	  margin: 10px 20px 10px 0;
	}

	.amenities{ 
	  width: 100%; 
	  margin: 10px 20px 10px 0;
	}

	#multiple li { 
	  cursor: pointer; 
	  text-decoration: underline; 
	}